{% extends "main_template.html" %}



{% block content %}
<main class="pt-24 md:pt-48 px-2 md:px-10">
    <div class="mb-8 border border-zinc-200 rounded-2xl p-4">
      <img class="rounded-lg mb-6" src="{{media_url}}image/heroSlider/1.webp" alt="">
      <p class="text-zinc-600 text-xs md:text-sm leading-8">
        دیجیتو فروشگاه آنلاین معتبری است که انواع کالاهای دیجیتال مانند گوشی، لپ‌تاپ، تبلت و لوازم جانبی را با ضمانت اصالت و ارسال سریع ارائه می‌دهد. با تنوع گسترده محصولات، قیمت‌های رقابتی و پشتیبانی حرفه‌ای، خریدی آسان و مطمئن را تجربه کنید. بررسی تخصصی، مقایسه و انتخاب آگاهانه از مزایای خرید از دیجیتو است. برای دسترسی به جدیدترین محصولات دیجیتال، همین حالا به دیجیتو سر بزنید!
      </p>
      <p class="text-zinc-600 text-xs md:text-sm leading-8">
        دیجیتو فروشگاه آنلاین معتبری است که انواع کالاهای دیجیتال مانند گوشی، لپ‌تاپ، تبلت و لوازم جانبی را با ضمانت اصالت و ارسال سریع ارائه می‌دهد. با تنوع گسترده محصولات، قیمت‌های رقابتی و پشتیبانی حرفه‌ای، خریدی آسان و مطمئن را تجربه کنید. بررسی تخصصی، مقایسه و انتخاب آگاهانه از مزایای خرید از دیجیتو است. برای دسترسی به جدیدترین محصولات دیجیتال، همین حالا به دیجیتو سر بزنید!
      </p>
      <p class="text-zinc-800 md:text-lg mb-1 mt-4">
        فروشگاه دیجیتو
      </p>
      <p class="text-zinc-600 text-xs md:text-sm leading-8">
        دیجیتو فروشگاه آنلاین معتبری است که انواع کالاهای دیجیتال مانند گوشی، لپ‌تاپ، تبلت و لوازم جانبی را با ضمانت اصالت و ارسال سریع ارائه می‌دهد. با تنوع گسترده محصولات، قیمت‌های رقابتی و پشتیبانی حرفه‌ای، خریدی آسان و مطمئن را تجربه کنید. بررسی تخصصی، مقایسه و انتخاب آگاهانه از مزایای خرید از دیجیتو است. برای دسترسی به جدیدترین محصولات دیجیتال، همین حالا به دیجیتو سر بزنید!
      </p>
      <p class="text-zinc-600 text-xs md:text-sm leading-8">
        دیجیتو فروشگاه آنلاین معتبری است که انواع کالاهای دیجیتال مانند گوشی، لپ‌تاپ، تبلت و لوازم جانبی را با ضمانت اصالت و ارسال سریع ارائه می‌دهد. با تنوع گسترده محصولات، قیمت‌های رقابتی و پشتیبانی حرفه‌ای، خریدی آسان و مطمئن را تجربه کنید. بررسی تخصصی، مقایسه و انتخاب آگاهانه از مزایای خرید از دیجیتو است. برای دسترسی به جدیدترین محصولات دیجیتال، همین حالا به دیجیتو سر بزنید!
      </p>
      <p class="text-zinc-600 text-xs md:text-sm leading-8">
        دیجیتو فروشگاه آنلاین معتبری است که انواع کالاهای دیجیتال مانند گوشی، لپ‌تاپ، تبلت و لوازم جانبی را با ضمانت اصالت و ارسال سریع ارائه می‌دهد. با تنوع گسترده محصولات، قیمت‌های رقابتی و پشتیبانی حرفه‌ای، خریدی آسان و مطمئن را تجربه کنید. بررسی تخصصی، مقایسه و انتخاب آگاهانه از مزایای خرید از دیجیتو است. برای دسترسی به جدیدترین محصولات دیجیتال، همین حالا به دیجیتو سر بزنید!
      </p>
      <p class="text-zinc-800 md:text-lg mb-1 mt-4">
        فروشگاه دیجیتو
      </p>
      <p class="text-zinc-600 text-xs md:text-sm leading-8">
        دیجیتو فروشگاه آنلاین معتبری است که انواع کالاهای دیجیتال مانند گوشی، لپ‌تاپ، تبلت و لوازم جانبی را با ضمانت اصالت و ارسال سریع ارائه می‌دهد. با تنوع گسترده محصولات، قیمت‌های رقابتی و پشتیبانی حرفه‌ای، خریدی آسان و مطمئن را تجربه کنید. بررسی تخصصی، مقایسه و انتخاب آگاهانه از مزایای خرید از دیجیتو است. برای دسترسی به جدیدترین محصولات دیجیتال، همین حالا به دیجیتو سر بزنید!
      </p>
    </div>
  </main>
{% endblock content %}